.layout-header {
    background-color: aquamarine;
    color: brown;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.layout-footer {
    background-color: rgb(69, 73, 182);
    color: burlywood;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}